$orange: #ef6817;
$almostBlack: #21201f;
$lightGrey: #727271;
$grey: #5f605d;
$darkGrey: #383838;
$almostWhite: #c1c1be;

$screen: #c5c1c0;
$steel: #0a1612;
$denim: #1a2930;
$marigold: #f7ce3e;
$text: #f0f4f7;
